<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
        <compilation debug="false" targetFramework="4.0" />
      <!--Sunucuya yuklenecek maksimun dosya kapasitesi ve yukleme zamanı gibi verileri ayarliyoruz. -->
      <!--maxRequestLength yüklenebilecek en buyuk dosya kapasitesi(Kbye)-->
      <!--executionTimeout dosya yüklenirken sunucuya bagli kalinabilacak sure (sn)-->
      <!--appRequestQueueLimit kuyrukta bekletilebilecek işlem sayısı-->
      <httpRuntime requestValidationMode="2.0" maxRequestLength="25600" executionTimeout="600"
                   useFullyQualifiedRedirectUrl="false" minFreeThreads="10" appRequestQueueLimit="10"/>
    </system.web>

</configuration>
